.CustomScroll {
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
}
.CustomScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.CustomScroll::-webkit-scrollbar {
  background: transparent;
  width: 0;
  height: 0;
}

.CustomScroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.CustomScroll-track {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.CustomScroll-line {
  position: absolute;
  top: 0;
  background-color: transparent;
}

.CustomScroll-pin {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: #e5e6e9;;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.noScroll{
  overflow: hidden;
  padding-right: 16px;
}
