/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    font-size: 18px;
}

.BasketSimple-label{

}

.BasketSimple-total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple__button {
  border: 1px solid #374258;
  background-color: #666f88;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-top: 2px;
}

.BasketSimple__button:hover {
  filter: brightness(1.1);
}

.BasketSimple__button:active {
  filter: brightness(0.9);
}
