.Pagination{
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 1024px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 24px 20px;
    font-size: 16px;
    margin: 0;
    background-color: #ffffff;
    border-top: 1px solid #374258;
}

.Pagination_modal {
  position: static;
  box-sizing: border-box;
  width: 960px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 24px 20px;
  font-size: 16px;
  margin: 0;
  background-color: transparent;
  border-top: none;
}

.Pagination-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px 0 0;
    cursor: pointer;
    height: 23px;
    min-width: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 18px;
    border-radius: 5px;
}

.Pagination-item:hover{
    background: #E1E1E1;
}

.Pagination-item_active,
.Pagination-item_active:hover{
    background: #374258;
    color: #fff;
}

.Pagination-item_split,
.Pagination-item_split:hover{
    background: transparent;
    cursor: default;
    color: #CCCCCC;
}
