.ArticleCard {
    padding: 20px 35px;
}

.ArticleCard-description {
    margin: 20px 0;
}

.ArticleCard-prop {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.ArticleCard-prop_size_big{
    font-size: 24px;
}

.ArticleCard-label{
    padding-right: 10px;
}

.ArticleCard-value{
    font-weight: bold;
}

.ArticleCard-add {
  border: 1px solid #374258;
  background-color: #666f88;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.ArticleCard-add:hover {
  filter: brightness(1.1);
}

.ArticleCard-add:active {
  filter: brightness(0.9);
}
