.CatalogButton {
  height: 30px;
  border: 1px solid #374258;
  background-color: #666f88;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &_modal {
    position: absolute;
    right: 20px;
    top: 110px;
  }

  &_basket {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 200px;
  }
}
