.CustomSelect-container {
  box-sizing: border-box;
  width: 240px;
  min-height: 30px;
  background-color: #ffffff;
}

.CustomSelect-control {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.CustomSelect-control:focus {
  border: 1px solid #6f7eff;
  outline: none;
  padding: 4px;
}

.CustomSelect-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15px;
  width: 217px;
  margin: 5px auto 10px auto;
  font-size: 13px;
  line-height: 13px;
  font-style: italic;
  border: none;
}

.CustomSelect-search:focus {
  box-sizing: content-box;
  border: 1px solid #6f7eff;
  outline: none;
  margin: 4px auto 9px auto;
}

.CustomSelect-dropdown {
  position: absolute;
  z-index: 1;
  content: "";
  box-sizing: border-box;
  max-height: 163px;
  width: 240px;
  padding: 5px;
  box-shadow: 0 8px 8px rgba(60, 60, 63, 0.25);
  background-color: #ffffff;
}

.CustomSelect-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 230px;
}

.CustomSelect-option {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 230px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.CustomSelect-option_current {
  background-color: #808dff;
}

.CustomSelect-option_current .CustomSelect-title {
  color: #ffffff;
  transition-property: color;
  transition-duration: 1s;
}

.CustomSelect-option_current:hover .CustomSelect-title,
.CustomSelect-option_current:focus .CustomSelect-title{
  color: #000000;
}

.CustomSelect-option_hover:hover {
  background-color: #dbdfff;
}

.CustomSelect-option_hover:focus {
  border: 1px solid #6f7eff;
  outline: none;
  padding: 4px;
}

.CustomSelect-option_current:focus {
  border: 1px solid #191F4D;
  background-color: #dbdfff;
}

.CustomSelect-code {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  border-radius: 3px;
  background-color: #6f7eff;
  color: #ffffff;
  font-size: 8px;
}

.CustomSelect-title {
  font-size: 15px;
  color: #191F4D;
}
